<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Grayscale - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/grayscale.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">L'annexe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#actions">Notre action</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">Les Meubles du Coeur</h1>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>À propos de nous </h2>
            <p>L'ASBL Les Meubles Du Coeur est une association à but non lucratif. 
                Sa mission : permettre aux familles les plus démunis d'apporter le confort que mérite leur foyer. 
                Par la vente et le don de mobiliers nous apportons notre soutient à l'éducation 
                en participant à la construction d'écoles. 
                L'écologie nous tient également à coeur, nous apportons notre aide à des centres de tris de déchets afin de trouver les meilleures solutions de recyclage...
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Un autre regard Section -->
    <section id="download" class="download-section content-section text-center">
      <div class="container">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-left">
          <h2>Un autre regard...</h2>
          <p><!-- <span class="text2"> -->En fondant Les Meubles du Coeur, nous souhaitions aborder le métier du vide grenier associatif d'une manière différente... En nous concentrant sur le mobilier et sur la qualité de ce que nous proposons tout en donnant le goût de la restauration à nos volontaires.

              D'une manière plus humaine, plus en accord avec notre époque et le souci de plus de service, de savoir faire et de flexibilité. Nous étudions chacune de vos propositions pour vous apporter la solution la plus adaptée à vos besoins.

              Nous sommes à votre écoute pour répondre à vos questions, n'hésitez pas à nous contacter !<!-- </span> --></p>
        </div>
      </div>
    </section>

    <!-- Action Section -->
    <section id="actions" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase"><span class="titre_section_action">Nos actions</span></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <img class="img-fluid" src="img/vide_maison.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>VIDE MAISON</h4>
              <p class="sous-titre_actions">Service - Convivialité - Utilité </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <img class="img-fluid" src="img/restauration.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>RESTAURATION</h4>
              <p class="sous-titre_actions">Service - Convivialité - Utilité </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <img class="img-fluid" src="img/redistribution.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>REDISTRIBUTION</h4>
              <p class="sous-titre_actions">Service - Convivialité - Utilité </p>
            </div>
          </div>
        </div>
      </div>
    </section>

<!--Contact-->
  <section id="contact" class="content-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <h2>Comment nous contacter</h2><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
          <h5>Les meubles du coeur</h5>
          <p>
              26 Rue des Capucins - 1000 Bruxelles<br>

              +32 488 99 59 80<br>

              info@meublesducoeur.be
          </p>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
          <h5>Envoyer nous un message</h5><br>
          <label for="nom">Votre nom</label></br>
          <input name="email" type="text"></br>
          <label for="email">Votre email</label></br>
          <input name="nom" type="email"></br>
          <label for="message">Message</label></br>
          <textarea rows="5"></textarea>

        </div>
      </div>
    </div>
  </section>
<!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Your Website 2018</p>
      </div>
    </footer>

    <!-- MODAL 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <a href="https://domoso.github.io/restaurant-css-framework/" target="_blank"><img class="img-fluid d-block mx-auto" src="img/vide_maison.jpg" alt=""></a>
                  <h2 class="text-uppercase">Vide maison</h2>
                  <p class="item-intro text-muted">Nous traitons tous types de demandes</p>
                  <p><span class="text_modal">Après une rapide expertise nous pouvons prendre en charge votre demande et agir dans les plus brefs délais. Notre force est notre souplesse, notre rapidité et nos muscles pour porter tous ces meubles</span></p>
                  <p class="item-intro text-muted">Nous récoltons vos encombrants</p>
                  <p><span class="text_modal">Telle une petite abeille, la camionnette des Meubles Du Coeur butine de-ci de-là pour glaner vos encombrants. De retour à la ruche, le reste des abeilles traite ses récoltes, mais c'est une autre histoire ...</span></p>
                  <p class="item-intro text-muted">Ne les laissez plus dans la rue. Appelez-nous </p>
                  <p><span class="text_modal">... Vous ferez davantage d'heureux. Nous saurons être là aussi vite que possible, et en plus, vous n'aurez pas à les descendre vous même dans vos escaliers.</span></p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MODAL 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <a href="https://domoso.github.io/restaurant-css-framework/" target="_blank"><img class="img-fluid d-block mx-auto" src="img/restauration.jpg" alt=""></a>
                  <h2 class="text-uppercase">Restauration</h2>
                  <p class="item-intro text-muted">Les abeilles au travail</p>
                  <p><span class="text_modal">Récolter des meubles c'est bien, leur redonner une deuxième vie c'est mieux. Certains meubles que nous sauvons sont parfois directement redistribués.
                  Pour d'autres, un atelier regroupant des artisans se dévouent à leur redonner la superbe de leurs premiers jours. Tout en formant, par la même occasion, des volontaires à la restauration de mobilier.</span></p>
                  <p class="item-intro text-muted">La ruche accueille ses visiteurs</p>
                  <p><span class="text_modal">Ces meubles restaurés sont ensuite mis en vente dans notre Annexe ou chez nos partenaires et subventionnent ainsi d'autres familles à se meubler par des enseignes classiques du pré-fabriqué.
                  Nous avons constamment besoin de mains et nous déposons régulièrement des offres d'emploi à court terme, permettant à d'autres de joindre les deux bouts en contribuant à notre cause.</span></p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MODAL 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <a href="https://domoso.github.io/restaurant-css-framework/" target="_blank"><img class="img-fluid d-block mx-auto" src="img/restauration.jpg" alt=""></a>
                  <h2 class="text-uppercase">Redistribution</h2>
                  <p class="item-intro text-muted">Nous recyclons le mobilier de plusieurs façons afin d'aider un maximum de personnes.
                  Pour les meubles que nous recevons, nous vous accueillons dans notre atelier/show-room situé dans le célèbre quartier des Marolles à 1000 Bruxelles.</p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>

  </body>

</html>
